.env
node_modules

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.DS_Store

wbo-backup*
server-data/board-*.svg
server-data/board-*.json

# Jetbrains
.idea/

# Nightwatch test results
tests_output/
playwright-report/
test-results/
.codex
.profiles/
