node_modules

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.DS_Store

# Openode
.openode
wbo-backup.zip

# Jetbrains
.idea/

# Nightwatch test results
tests_output/
