html, body, svg {
	padding:0;
	margin:0;
}

#menu {
	border-radius:3px;
	font-family:"Segoe UI","Roboto","Ubuntu";
	position:fixed;
	left:10px;
	top:10px;
	background-color:rgba(100,200,255,0.7);
	width:100px;
	height:2em;
	overflow:hidden;
	box-shadow: 0px 0px 9px black;
	transition-duration:1s;
	transition-delay:5s;
}

#menu:hover, #menu:focus {
	border-radius:0;
	left:0;
	top:0;
	color:black;
	background-color:rgba(0,100,255,0.9);
	width:200px;
	height:100%;
	transition-duration:1s;
	transition-delay:0s;
}

#menu h2{ /*Menu title ("Menu")*/
	font-size:22px;
	font-family:monospace;
	letter-spacing:5px;
	text-shadow: 0px 0px 9px white;
	color:black;
	text-align:center;
	word-wrap:break-word;
	padding:0;
	margin:0;
}

#menu:hover h2{
	text-shadow: 0px 0px 3px white;
	word-wrap:normal;
	font-size:2em;
}

#menu li {
	width:150px;
}

#menu li a {
	color:#111;
	border:0;
}


#menu li:hover {
	text-shadow: 0px 0px 3px white;
}
