html {
	background: linear-gradient(135deg, #c4dfffa0, transparent), url(background.png);
	width:100%;
	min-height: 100%;
	margin:0;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 15px;
}

body {
	position: absolute;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
	width: 100%;
}

header {
	position:fixed;
	left:0;
	top:0;
	text-shadow: 1px 1px 2px #eee;
	width:100%;
	z-index: 2;
}

h1, h2 {
	text-align: center;
	font-weight: 300;
}

h3 {
	font-weight: 400;
}

main {
	margin: auto;
	margin-top: 80px;
	width:100%;
	max-width: 1250px;
	font-size: 1.1em;
	position:relative;
	text-align:justify;
	transition:.1s;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}

#description,
#recent-boards {
	flex: 100%;
}

main>div {
	margin:15px;
	min-width: 250px;
	padding:35px;
	transition:.07s;
	flex:33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: .2em;
}

main>div:hover {
	transform:scale(1.03);
}

header, main>div {
	box-shadow: 2px 2px 10px #666;
	background-color:#fff;
}

header:hover h2 {
	animation:colorchange 100s infinite;
}

.wbo-button {
	white-space: nowrap;
	text-decoration: none;
	background: linear-gradient(#C4DFFF, #8FA2BC);
	margin-top: 15px;
	line-height: 60px;
	border-radius: 5px;
	box-shadow:  1px 1px 3px #555;
	display: block;
	text-align: center;
	color: black;
	transition: .1s;
}

a{
	color: black;
}

.wbo-button:hover{
		box-shadow: 0 0 5px #0074D9;
}

.wbo-button:focus, .wbo-button:active {
	box-shadow: inset 1px 1px 5px #555;
}

input {
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 6px;
	font-size: 1.1em;
	margin: 9px 0;
}

#board {
	width: 75%;
}

#recent-boards.hidden {
	display: none;
}

#recent-boards ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#recent-boards li {
	margin-bottom: 8px;
}

#recent-boards li:last-child {
	margin-bottom: 0;
}

footer {
	text-align: center;
	flex-shrink: 0;
	height: 40px;
}

footer a {
	opacity: .3;
}

footer a:hover {
	opacity: 1;
}

.lang-selector {
	top: 20px;
	right:20px;
	position: absolute;
	overflow: hidden;
	padding: 10px;
}

.lang-selector span {
	padding: 9px 25px;
	border: 1px solid black;
	border-radius: 5px;
}

.lang-selector ul {
	padding-left: 22px;
	list-style: none;
	width: 70px;
	background: white;
	max-height: 0;
	overflow: hidden;
	transition-duration: 1s;
	border-radius: 5px;
}

.lang-selector:hover ul {
	max-height: 600px;
	box-shadow: 2px 2px 10px #666;
	border: 0;
}

.lang-selector li {
	height: 25px;
	padding: 5px;
}

.lang-selector:hover li {
	list-style: none;
}

.lang-selector li a {
	width: 100%;
	display: block;
}

.lang-selector li:hover {
	list-style: circle;
	list-style: disclosure-closed;
}