/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
html, body, svg {
	font-family: Roboto, Arial, sans-serif;
}
#menu .tool {
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
	background-color: #f2f6fc;
	margin-top: 16px;
}
#menu .tool.curTool {
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
	border-bottom: 4px solid #36A2FF;
	background: #f2f6fc;
}
#textToolInput {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
	padding: 8px;
	font-size: 24px;
	border: none;
	background: #f2f6fc;
}
#textToolInput:focus-visible {
	border: none;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}